.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    padding-bottom: 10px;
}
.category {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category .category-item {
    padding:4px 10px;
    font-size: 17px;
    color: #000;
    min-width: 100px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    border-radius: 999px;
    font-weight: 500;
}
.category a {
    text-decoration: none;
}
.category .category-item:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary-color-blue);
    transition: 0.25s;
    cursor: pointer;
}
